---
import BlogLayout from '../../layouts/BlogLayout.astro';

interface Frontmatter {
  title: string;
  date: string;
  description: string;
  image?: { src: string; alt: string };
  draft?: boolean;
}

interface PostModule {
  frontmatter: Frontmatter;
}

const modules = import.meta.glob<PostModule>('./*.md', { eager: true });
const locale = 'en-US';
const formatDate = (d: string) =>
  new Date(d).toLocaleDateString(locale, {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });

type Post = Frontmatter & { slug: string; displayDate: string };

const posts: Post[] = Object.entries(modules)
  .map(([path, mod]) => {
    const slug = path.match(/\.\/(.+)\.md$/)?.[1]!;
    const { title, date, description, image, draft } = mod.frontmatter;
    return {
      slug,
      title,
      date,
      description,
      image,
      draft,
      displayDate: formatDate(date),
    };
  })
  .filter((p) => !p.draft)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---
<div class="w-full text-center mb-10">
  <h1 class="text-4xl font-bold">Our Journal</h1>
  </div>

<BlogLayout>

  <ul
    role="list"
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    {posts.map((post) => (
      <li>
        <a
          href={`/blog/${post.slug}`}
          class="block bg-white rounded-lg overflow-hidden shadow transition hover:shadow-lg"
        >
          {post.image && (
            <img
              src={post.image.src}
              alt={post.image.alt}
              class="w-full h-48 object-cover"
            />
          )}
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2">{post.title}</h2>
            <!-- <p class="text-gray-600 mb-4">{post.description}</p>-->
            <time class="text-sm text-gray-400">
              {post.displayDate}
            </time>
          </div>
        </a>
      </li>
    ))}
  </ul>
</BlogLayout>
